# Build files
*.o

# Released kernel
*.bin

# ISO images of kernel
*.iso

# GRUB configs
*.cfg

# Build folder
build
builds
release
# Release, Profiling, Debug folders
Release
Profiling
Debug

